body {
  font-size: 14px;
}
.circle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  background-color: rgb(253, 2, 2);
  border-right: 15px solid rgb(179, 0, 0);
  width: 300px;
  height: 300px;
  border-bottom-right-radius: 100%;
}

.circle2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -999;
  background-color: red;
  border-left: 3px solid rgb(214, 11, 11);
  width: 30px;
  height: 20px;
  border-radius: 150% 0 0 0;
}

.monLogo {
  width: 50px;
}
